.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
  }
}

@media screen and (min-width: 73.375rem) {
  .grid {
    gap: 2rem;
  }
}